.body {
    display: flex;
    align-items: center;
    background: linear-gradient(to left, black, rgb(87, 78, 78));
    padding: 0px;
    margin: 8px -8px;
    height: 500px;
    width: initial;
}

.body > .left > .text b {
    justify-content: left;
    text-align: justify;
}

.body > .left > .text p {
    display: flex;
    flex-direction: column;
    text-decoration: solid;
    color: white;
    padding: 30px;
    font-size: 25px;
    width: 95%;
}

.body > .right p {
    color: white;
    text-indent: 20px;
    margin-bottom: -20px;
    font-weight: bold;
}

.body > .right > .image {
    justify-content: right;
}

.body > .right > .image img {
    justify-content: right;
    width: 600px;
    height: 400px;
    margin-right: 20px;
    margin-top: 30px;
}